.banner.success { 
    border: 1px solid green;
    color: green;
  }

  .banner.danger {
    border: 1px solid red;
    color: red;
  }

  .banner {
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 4px;
  }