.banner.success { 
  --border-color: green;

  border: 1px solid var(--border-color);
  color: var(--success-color);
}

.banner.danger {
  --border-color: red;

  border: 1px solid var(--border-color);
  color: var(--danger-color);
}

.banner {
  padding: calc(2 * var(--spacing-unit));
  margin: 0 calc(2 * var(--spacing-unit)) calc(2 * var(--spacing-unit));
  box-shadow: 0px 0px 4px;
}

@media only screen and (max-width: 768px) {
  .banner {
    margin: 0 0 calc(2 * var(--spacing-unit));
  }
}