.movie-tile {
  --border-color: #cecece;

  border: 1px solid var(--border-color);
  padding: calc(2 * var(--spacing-unit));
  margin-bottom: calc(2 * var(--spacing-unit));
  display: flex;
  align-items: center;
}

.movie-title {
  padding-right: var(--spacing-unit);
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.movie-year {
  font-style: italic;
  font-weight: 600;
}

.movie-details {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-unit);
}
  