:root {
  --spacing-unit: 8px;
  --border-color: #000;
  --container-width: 1200px;
  --success-color: green;
  --danger-color: red;
  --background-color: white;
}

.App {
  text-align: center;
}

.content-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: calc(3 * var(--spacing-unit)) 0;
}

.rounded-button {
  margin-left: auto;
  background: none;
  border: 1px solid var(--border-color);
  padding: calc(1 * var(--spacing-unit));
  border-radius: 24px;
  cursor: pointer;
  width: 100px;
}




