.header {
  --background-color: black;

  background-color: var(--background-color);
}

.app-title-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: calc(2 * var(--spacing-unit))  0;
}

.title {
  --background-color: white;

  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}